<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h3>Welcome!</h3>
      <p>Register for access.</p>
      <p>
        <%= link_to 'Register Academic', '/users/sign_up/Academic', class: 'btn btn-primary btn-lg' %>
        <%= link_to 'Register Business', '/users/sign_up/Business', class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
